<div class="container-fluid bands">
  <h2>{{ "Programma" | upcase }}</h2>
  {% if site.data.bands.size > 0 %}
  <ul>
    {% for band in site.data.bands %}
    <li>
        <div class="band mt-4">
            <div class="description">
                <div class="name">{{ band.name | upcase }}</div>
                <div class="time">{{ band.start }} - {{ band.end}}</div>
            </div>
        </div>
    </li>
    {% endfor %}
  </ul>
  {% else %}
  <div class="tba">
    Het programma zal binnenkort bekend worden gemaakt!
  </div>
  {% endif %}
</div>
