<div class="container">
  <div class="sponsors">
    <h2>
      {{ "Sponsors bedankt!" | upcase }}
    </h2>
    <div class="row">
      {% for sponsor in site.data.sponsors %}
        <div class="col-md-2">
          <a href="{{ sponsor.link }}" target="_blank">
            <div class="sponsor">
              <span class="helper"></span>
              <img src="{{ "/assets/images/sponsors/" | append: sponsor.img_name | relative_url }}"/>
            </div>
          </a>
        </div>
      {% endfor %}
    </div>
  </div>
</div>
