<div class="container">
  <div class="sponsors">
    <h2>
      {{ "Sponsors bedankt!" | upcase }}
    </h2>
    <div class="row">
      {% for sponsor in site.data.sponsors %}
        <div class="col-md-2">
          <a href="{{ sponsor.link }}" target="_blank">
            <div class="sponsor">
              <span class="helper"></span>
              <picture>
                {% for img in sponsor.img %}
                <source type="{{ img.type }}" srcset="/assets/images/sponsors/{{ img.src }}">
                {% endfor %}
                <img src="{{ "/assets/images/sponsors/" | append: sponsor.img.last.src | relative_url }}"/>
              </picture>
            </div>
          </a>
        </div>
      {% endfor %}
    </div>
  </div>
</div>
