<div class="container">
    <div class="col-md-10 mx-auto uitvullen">
        <h2>VRIJWILLIGER VAN SNEEUWPOP WORDEN?</h2>
        <h5>Op Sneeuwpop kan geen feestje worden gevierd zonder vrijwilligers. Dit is een oproep aan alle sterke of handige mannen en vrouwen!</h5>
        <h5>Op vrijdag 16 janauri 2026 bouwen wij het festivalterein op, op zaterdag 17 januari 2026 zetten wij 's ochtends de puntjes op de i. Direct na afloop van het festival beginnen de eerste opruimwerkzaamheden. Op zondagmiddag worden de laatste restjes opgeruimd en laten we het Hofpark schoon en opgeruimd achter. Lijkt dit jou leuk? Meld je dan nu aan door ons een e-mail te sturen. Ook als je niet het hele weekend kunt, maar bijvoorbeeld alleen met het opbouwen of juist alleen  met het afbouwen kan je zeker ook aanmelden!</h5>
        <h5>Sneeuwpop kan altijd nieuwe mensen gebruiken, dus heb je een nichtje, broer, buurvrouw of vriend die geïnteresseerd is, of wil je jezelf aanmelden? Stuur ons dan een e-mail naar <a href="mailto:sneeuwpopwateringen@gmail.com">sneeuwpopwateringen@gmail.com</a></h5>
    </div>
</div>
