<div class="container">
    <div class="col-md-10 mx-auto uitvullen">
        <h2>VRIJWILLIGERS VAN SNEEUWPOP WORDEN?</h2>
        <h5>Op Sneeuwpop kan geen feestje worden gevierd zonder vrijwilligers. Op vrijdag 16 janauri 2026 en op zaterochtend 17 janauari 2026 bouwen wij het festivalterein op. Lijkt dit jou leuk? Meld je dan nu aan door ons een e-mail te sturen.</h5>
        <h5></h5>
        <h5>Sneeuwpop kan altijd nieuwe mensen gebruiken, dus heb je een nichtje, broer, buurvrouw of vriend die geïnteresseerd is, of wil je jezelf aanmelden? Stuur ons dan een e-mail naar <a href="mailto:info@sneeuwpop.nl"></a></h5>
    </div>
</div>
