@import "colors.scss";

body {
  @font-face {
    font-family: VistaSanBol;
    src: url(/assets/VistaSanBol.ttf);
  }
  font-family: VistaSanBol;
}

h2 {
  text-align: center;
  font-size: 40px;
  font-weight: 600;
  margin-bottom: 30px;
}

hr {
  margin: 75px  auto;
  border: 0;
  border-top: 1px solid rgba($black, .07);
  width: 50%;
}

.header {
  .logo-container {
    text-align: center;
    width: 100%;
    .logo {
      img {
        margin-top: 30px;
        height: 200px;
        margin-bottom: 30px;
      }
      .title-container {
        .title {
          font-size: 60px;
          font-weight: 600;
        }
        .subtitle {
          font-size: 48px;
          color: $primary;
        }
      }
    }
  }
}

 @media screen and (min-width: 750px) {
   .header {
     position: relative;
     .logo-container {
       position: absolute;
       .logo {
         width: 750px;
         border-bottom-left-radius: 30px;
         border-bottom-right-radius: 30px;
         margin: auto;
         background-color: $white;
         .title-container {
           display: inline-block;
           vertical-align: middle;
           margin-left: 20px;
         }
       }
     }
   }
 }

.groepsfoto {
  width: 100%;
}

.bands {
  .band {
    text-align: center;
    margin-top: 20px;
    img {
      width: 100%;
    }
    .description {
      .time {
        font-size: 25px;
      }
      .name {
        font-size: 40px;
        font-weight: 600;
      }
    }
  }
}

.sponsors {
  .sponsor {
    margin: auto;
    height: 200px;
    overflow: hidden;
    white-space: nowrap;
    padding: 15%;
    transition: padding 0.3s;

    .helper {
      display: inline-block;
      height: 100%;
      vertical-align: middle;
    }
    img {
      vertical-align: middle;
      width: 100%;
    }
  }
  .sponsor:hover {
    padding: 5%;
  }
}

.map {
  width: 100%;
  height: 500px;
  border: 0;
}
