@import "colors.scss";

body {
  @font-face {
    font-family: VistaSanBol;
    src: url(/assets/VistaSanBol.ttf);
  }
  font-family: VistaSanBol;
}

hr {
  margin: 75px  auto;
  border: 0;
  border-top: 1px solid rgba($white, .07);
  width: 50%;
}

.header {
  .logo-container {
    text-align: center;
    width: 100%;
    .logo {
      img {
        margin-top: 30px;
        height: 200px;
        margin-bottom: 30px;
      }
      .title-container {
        .title {
          font-size: 60px;
          font-weight: 600;
        }
        .subtitle {
          font-size: 48px;
          color: $primary;
        }
      }
    }
  }
}

 @media screen and (min-width: 750px) {
   .header {
     position: relative;
     .logo-container {
       position: absolute;
       .logo {
         width: 750px;
         border-bottom-left-radius: 30px;
         border-bottom-right-radius: 30px;
         margin: auto;
         background-color: $white;
         .title-container {
           display: inline-block;
           vertical-align: middle;
           margin-left: 20px;
         }
       }
     }
   }
 }

.groepsfoto {
  width: 100%;
}

.bands {
  .col-md-4 {
    $band-padding: 0px;
    padding: $band-padding;
    .band {
      // border: 1px solid #111111;
      img {
        width: 100%;
      }
      .description {
        $margin: 15px;
        position: absolute;
        bottom: $band-padding + $margin;
        left: $band-padding + $margin;
        .time {
          font-size: 25px;
        }
        .name {
          font-size: 40px;
          font-weight: 600;
        }
      }
    }
  }
}

.sponsors {
  .title {
    text-align: center;
    font-size: 40px;
    font-weight: 600;
    margin-bottom: 30px;
  }
  .sponsor {
    margin: auto;
    $size: 200px;
    width: $size;
    height: $size;

    border-radius: 100%;
    border: 1px solid $primary;
    background-color: $white;
    overflow: hidden;

    img {
      padding: 15%;
      width: 100%;
      height: 100%;
    }
  }
  .sponsor:hover {
      border-color: $color-clickable;
  }
}
