@import "colors.scss";

body {
  font-family: sans-serif;
}

h1, h2, h3, h4, h5 {
  font-weight: 600;
  color: $primary;
  margin-top: 30px;
}

h2 {
  text-align: center;
  font-size: 2.8em;
  @media (min-width: 768px) {
    font-size: 4em;
  }
  font-weight: 600;
}

hr {
  margin: 75px  auto;
  border: 0;
  border-top: 1px solid rgba($black, .07);
  width: 50%;
}

.header {
  text-align: center;

  .banner {
    width: 98%;
  }

  .logo {
    width: 70%;
  }
}

.bands {
  ul {
    @media(min-width: 768px) {
      column-count: 2;
      width: 50%;
      margin: auto;
    }

    list-style: none;
    padding: 0;

    li {
      display: inline-block;
      width: 100%;
    }
  }

  .tba {
    text-align: center;
    font-size: 2em;
  }

  h2 {
    color: $primary;
  }

  .band {
    text-align: center;
    .description {
      .time {
        font-size: 25px;
      }
      .name {
        font-size: 2em;
        font-weight: 600;
      }
    }

    a {
      color: inherit;
      &:hover {
        color: $secondary;
      }
    }
  }
}

.sponsors {
  .sponsor {
    margin: auto;
    overflow: hidden;
    white-space: nowrap;
    padding: 15%;
    transition: padding 0.3s;

    img {
      width: 100%;
    }
  }
  .sponsor:hover {
    padding: 5%;
  }
}

@media screen and (min-width: 768px) {
  .sponsors {
    .sponsor {
      height: 200px;
      .helper {
        display: inline-block;
        height: 100%;
        vertical-align: middle;
      }
      img {
        vertical-align: middle;
      }
    }
  }
}

.map {
  width: 100%;
  height: 500px;
  border: 0;
}

.footer {
  background-color: $primary;
  text-align: center;
  padding: 30px 0;
  margin-top: 30px;

  .fa {
    margin: 0 20px;
    color: white;

    @media (min-width: 576px) {
      margin: 0 30px;
    }
  }
}

#photos {
  width: 100%;

  img {
    $ratio: 0.75;

    @media (max-width: 576px) {
      height: 75vw;
    }

    @media (min-width: 576px) and (max-width: 768px) {
      height: $ratio*540px;
    }

    @media (min-width: 768px) and (max-width: 992px) {
      height: $ratio*720px;
    }

    @media (min-width: 992px) and (max-width: 1200px) {
      height: $ratio*960px;
    }

    @media (min-width: 1200px) {
      height: $ratio*1140px;
    }
  }

  img {
    margin: auto;
  }

  .fa-chevron-right, .fa-chevron-left {
    color: $primary;
  }

  overflow: hidden;
}

p {
  a {
    color: $secondary;
    &:hover, &:visited, &:active {
      color: $secondary;
    }
  }
}

.uitvullen {
  text-align: justify;
}