---
layout: default
---
<div class="container">
    <div class="row">
        <div class="col-md-8 band">
            {% if page.image %}
            <img src="/assets/images/bands/{{ page.image }}" alt="{{ page.title }}">
            {% endif %}

            <h1>{{ page.title | upcase }}</h1>
            {{ content }}

            {% if page.genre %}
            <h4>GENRE</h4>
            <p>{{ page.genre | capitalize }}</p>
            {% endif %}

            {% if page.members %}
            <h4>LEDEN</h4>
            <ul>
                {% for member in page.members %}
                <li>{{ member.name }} - {{ member.role }}</li>
                {% endfor %}
            </ul>
            {% endif %}
            
            {% if page.socials %}
            <h4>SOCIALS</h4>
            <ul>
                {% for socials in page.socials %}
                <li>{{ socials.name }} - {{ socials.role }}</li>
                {% endfor %}
            </ul>
            {% endif %}
        </div>
    </div>
</div>


